/*************************************************/
/*               Style sheet                     */
/*               author: Álcaro López            */
/*               version: 1.0                    */
/*               comments: class proyect 2023-34 */
/*************************************************/

/* cuando quiero usar una tipografía y asegurarme de que se verá correctamente, suministro tambien con la pagina el archivo de la fuente que sera .ttf o .otf */
/* 1- ahora, enlazo el archivos desacargado */
/* 2- utilizar el nombre de la font-family donde quiere usarlo */

@font-face {    /* esto no es un selector, es un enlace */
    font-family: blackmirror;
    src: url(../font/FontsFree-Net-Proxima-Nova-Bold.otf);
}

@font-face {
    font-family: textonormal;
    src: url(../font/OpenSans-Regular.ttf);
}

body{margin:0;padding:0; /* para desactivar el espacio de separación por defecto */
    background-color: #202020;
    color: white;
    font-family: textonormal;}

#wrapper {background-color: #808080;
        width:80%; /* ancho fijado al 80% */
        margin: auto;} /* centrado automatico */

